.categories .container {
    max-width: 1300px;
    margin: 0 auto;

    .card {
        width: 20vmax;
        max-width: 25%;

        .thumb {
            background-color: #eee;
            height: 150px;
        }

        .desc {
            max-height: 140px;
            white-space:nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
