.navbar {
    .title {
        text-decoration: none;
    }

    .grow {
        flex-grow: 1;
    }

    .search {
        position: relative;
    }

    .searchIcon {
        width: 15px;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .input {
        color: #fff !important;
        padding: 5px 5px 5px 30px;
        overflow: hidden;
    }
}